.form__button {
  min-height: 50px;
  min-width: 358px;
  border: none;
  border-radius: 2px;
  background-color: black;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: auto;
  padding: 0;
}

.form__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 570px) {
  .form__button {
    min-height: 46px;
    min-width: 238px;
  }
}
