.form__input {
  min-width: 358px;
  min-height: 27px;
  border: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #545454;
    max-width: 358px;
}

@media screen and (max-width: 570px) {
  .form__input{
    min-width: 238px;
  }
}

.form__input:focus {
  outline: none;
}


.form__input:last-of-type {
  margin-top: 25px;
}
