.footer {
  max-width: 880px;
  margin: 0 auto;
  padding-bottom: 60px;
  color: #545454;
}

@media screen and (max-width: 920px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 615px) {
  .footer {
    max-width: 282px;
    padding-bottom: 36px;
  }
}
